<template>
  <v-container>
    <v-card >
      <v-list>
        <v-list-item>
           <v-list-item-content>
             <v-list-item-title>
               some-test
             </v-list-item-title>
             <v-list-item-action-text>
               asd
             </v-list-item-action-text>
           </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              some-tes2
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
  <v-progress-linear value="15"></v-progress-linear>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: 'Request',
};

</script>

<style scoped>

</style>
