<template>
  <v-container>
    <v-row class="text-center">

      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3">
          Welcome to Indelbl
        </h1>

        <p class="subheading font-weight-regular">
          Enter the URL of the page you make indelible
          <br>and then let the magic begin
        </p>
        <v-col class="mb-3">
          <v-text-field v-model="site"
                        :rules="$data.validations"
                        placeholder="https://someurl.com/somepage"
                        outlined
                        dense
                        color="primary"
          >
            <template v-slot:append >
              <v-btn
                style="margin-top: -6px"
                depressed
                plain
                color="primary"
                @click="show">
                Paste
              </v-btn>
            </template>
          </v-text-field>

          <v-btn color="primary" v-on:click="clickgo"
                 :data-Sitekey=key>GO !
          </v-btn>
        </v-col>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'TypeUrl',
  mounted() {
  },
  data: () => ({
    site: '',
    key: process.env.VUE_APP_RECHAPTA_SITE_KEY,
    validations: [
      (value) => {
        try {
          // eslint-disable-next-line no-new
          new URL(value);
          return true;
        } catch (_) {
          console.log(value, _);
          return 'Invalid URL';
        }
      },
    ],
  }),
  methods: {
    clickgo() {
      if (!this.validations.every(
        (validation) => validation(this.site),
      )) {
        console.log('asd');
      }
      this.$store.dispatch('enterUrl', { url: this.site })
        .then((a, b, c) => {
          console.log(a, b, c);
        });
    },
  },
};
</script>
