<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
      <h1>
        Indelbl
      </h1>
      </div>

      <v-spacer></v-spacer>

    </v-app-bar>

    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  mounted() {
    const recaptchaScript = document.createElement('script');
    recaptchaScript.setAttribute('src', `https://www.google.com/recaptcha/api.js?render=${process.env.VUE_APP_RECHAPTA_SITE_KEY}`);
    document.head.appendChild(recaptchaScript);
  },
  data: () => ({
    //
  }),
};
</script>
